flask
flask-cors
flask-jwt-extended
python-multipart
python-dotenv
# opencv-python
numpy
opencv-python-headless
firebase-admin
werkzeug
pandas
openpyxl
pillow
reportlab
requests
autopep8
gunicorn
