flask
# opencv-python
opencv-python-headless
numpy
python-multipart
firebase-admin
python-dotenv
werkzeug
flask-jwt-extended
flask-cors
pandas
openpyxl
google-cloud-storage
pillow
reportlab
requests

pip
autopep8
gunicorn
