pip
autopep8
Flask
gunicorn
Werkzeug

opencv-python
numpy
python-multipart
python-dotenv
flask-jwt-extended
flask-cors

firebase-admin
werkzeug
pandas
openpyxl
google-cloud-storage
pillow
reportlab
requests